<template>
  <div>
    <ArticlesList />
  </div>
</template>

<script>
import ArticlesList from '@/components/Articles/ArticlesList.vue'
export default {
  components: {
    ArticlesList
  }
}
</script>

<style lang="scss" scoped>

</style>
