<template>
  <div class="login-page">
    <LoginForm />
  </div>
</template>

<script>
import LoginForm from '@/components/Login/LoginForm.vue'

export default {
  components: {
    LoginForm
  }
}
</script>

<style lang="scss" scoped>
.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
