<template>
  <div class="login">
    <SignInForm />
    <SignUpForm />
  </div>
</template>

<script>
import SignInForm from '@/components/Login/SignInForm.vue'
import SignUpForm from '@/components/Login/SignUpForm.vue'

export default {
  components: {
    SignInForm,
    SignUpForm
  }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.login {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  max-width: 900px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
</style>
