<template>
  <div class="sign-in">
    <h3 class="sign-in__title">
      Sign in
    </h3>
    <input v-model="email" type="text" class="sign-in__input" placeholder="Username">
    <input v-model="password" type="password" class="sign-in__input" placeholder="Password">
    <a href="#" class="sign-in__paragraph">Forgot your password ?</a>
    <div @click="signIn" class="sign-in__button">
      Sign in
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      email: 'user@user.com',
      password: 'user'
    }
  },
  methods: {
    ...mapActions({
      addNotification: 'session/addNotification',
      updateUser: 'user/updateUser',
      updateToken: 'user/updateToken'
    }),
    signIn() {
      const payload = {
        email: this.email,
        password: this.password
      }
      this.$axios({
        method: 'post',
        url: '/users/login',
        data: payload
      }).then((res) => {
        const token = res.data.data.token
        this.updateToken(token)
        this.$axios.setToken(token, 'Bearer')
        this.$axios({
          method: 'post',
          url: '/users/profile',
          data: {
            token
          }
        }).then((res) => {
          const user = res.data.data
          this.updateUser(user)
          console.log(res.data.data.user.isAdmin)
          res.data.data.user.isAdmin ? this.$router.push('/admin') : this.$router.push('/')
        }).catch((e) => {
          this.addNotification({
            message: e,
            color: 'error'
          })
        })
      }).catch((e) => {
        this.addNotification({
          message: 'Coucou',
          color: 'error'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 1.5em;
  }
  &__input {
    background-color: #eeeeee;
    padding: 0.3rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: none;
    transition: box-shadow 300ms;
    outline: none;
    &::placeholder {}
    &:focus {
      box-shadow: inset 0 0 3px #00000080;
    }
  }
  &__button {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 2em;
    border:1px solid black;
    border-radius: 2em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0.5rem;
    box-shadow: 0 8px 6px -6px black;
    transition: box-shadow 300ms, opacity 300ms;
    &:hover {
      box-shadow: 0 0 0 -6px black;
      opacity: 0.7;
    }
  }
}
</style>
