<template>
  <div class="sign-up">
    <h3 class="sign-up__title">
      Create your account
    </h3>
    <p>And be first on the crypto currency</p>
    <input v-model="username" type="text" class="sign-up__input" placeholder="Username">
    <input v-model="email" type="text" class="sign-up__input" placeholder="Email">
    <input v-model="password" type="password" class="sign-up__input" placeholder="Password">
    <div @click="signUp" class="sign-up__button">
      Sign up
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      username: 'user',
      email: 'user@user.com',
      password: 'user'
    }
  },
  methods: {
    ...mapActions({ addNotification: 'session/addNotification' }),
    signUp() {
      const payload = {
        username: this.username,
        email: this.email,
        password: this.password
      }
      this.$axios({
        method: 'post',
        url: '/users/register',
        data: payload
      }).then((res) => {
        this.addNotification({
          message: 'Your account has been created',
          color: 'success'
        })
      }).catch((e) => {
        this.addNotification({
          message: e,
          color: 'error'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  color: white;
  padding: 1rem;
  &__title {
    font-size: 1.5em;
  }
  &__input {
    color: black;
    background-color: #eeeeee;
    padding: 0.3rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: none;
    transition: box-shadow 300ms;
    outline: none;
    &::placeholder {}
    &:focus {
      box-shadow: inset 0 0 3px #00000080;
    }
  }
  &__button {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 2em;
    border:1px solid white;
    border-radius: 2em;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(transparent 50%, white 50%);
    background-size: 200% 200%;
    background-position: 0 0;
    transition: background-position 300ms, color 300ms;
    -webkit-text-stroke: 1px #FF454B;
    cursor: pointer;
    &:hover {
      background-position: 100% 100%;
      color: #FF454B;
    }
  }
}
</style>
