<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <CryptoList />
  </v-layout>
</template>

<script>
import CryptoList from '@/components/Admin/Crypto/List.vue'

export default {
  layout: 'default',
  components: {
    CryptoList
  },
  middleware: 'auth'
}
</script>
