<template>
  <div class="item-attribute">
    <span v-if="label" class="item-attribute--label">{{ label }}:</span>
    <span>
      <slot />
    </span>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.item-attribute {
  display: flex;
  flex-direction: column;
  &--label {
    font-size: 0.7rem;
    color: grey;
  }
}
</style>
