<template>
  <v-snackbar
    v-model="snackbar.status"
    :color="snackbar.color"
    :timeout="0"
  >
    {{ snackbar.message }}
    <v-btn
      @click="setSnackbarStatus(false)"
      color="white"
      text
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      snackbar: 'session/snackbar'
    })
  },
  methods: {
    ...mapMutations({
      setSnackbarStatus: 'session/setSnackbarStatus'
    })
  }
}
</script>

<style lang="scss" scoped></style>
