<template>
  <div class="crypto-list">
    <CryptoListItem v-for="crypto in cryptos" :key="crypto.id" :crypto="crypto" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import CryptoListItem from '@/components/Admin/Crypto/ListItem.vue'

export default {

  components: {
    CryptoListItem
  },
  computed: {
    ...mapGetters({
      cryptos: 'cryptos/cryptos'
    })
  },
  mounted() {
    this.fetchAllCryptos()
  },
  methods: {
    ...mapActions({
      fetchAllCryptos: 'cryptos/fetchAllCryptos'
    })
  }
}
</script>

<style lang="scss" scoped>
.crypto-list {
  width: 100%;
  &__header {
    grid-template-columns: repeat(6, 1fr);
  }
}
</style>
