<template>
  <div class="item">
    <span>{{ crypto.nom }}</span>
    <span>{{ crypto.symbol }}</span>
    <v-checkbox v-model="isVisible" :label="(isVisible) ? 'visible': 'hidden'" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    crypto: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      isVisible: false,
      loading: true
    }
  },
  watch: {
    isVisible(newValue, oldValue) {
      if (this.loading) {
        this.setCryptoVisibility({
          symbol: this.crypto.symbol,
          visible: newValue
        })
      }
    }
  },
  created() {
    this.isVisible = this.crypto.isVisible
    this.loading = false
  },
  methods: {
    ...mapActions({
      setCryptoVisibility: 'cryptos/setCryptoVisibility'
    })
  }
}
</script>

<style lang="scss" scoped>
.item {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 200px;
  & + .item {
    border-top: 1px solid #00000040
  }
}
</style>
