<template>
  <div @click="cryptoClick" class="crypto-list--item">
    <ItemAttribute label="Name">
      {{ crypto.name || '-' }}
    </ItemAttribute>
    <ItemAttribute label="Symbol">
      {{ crypto.symbol || '-' }}
    </ItemAttribute>
    <ItemAttribute label="Open">
      {{ crypto.open || '-' }}
    </ItemAttribute>
    <ItemAttribute label="Low">
      {{ crypto.low || '-' }}
    </ItemAttribute>
    <ItemAttribute label="close">
      {{ crypto.close || '-' }}
    </ItemAttribute>
    <slot />
  </div>
</template>

<script>
import ItemAttribute from '@/components/ItemAttribute.vue'

export default {
  components: {
    ItemAttribute
  },
  props: {
    crypto: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    dailyChange() {
      return ((this.crypto.high - this.crypto.low) * this.crypto.low / 100).toFixed(2)
    }
  },
  methods: {
    cryptoClick() {
      this.$router.push(`/${this.crypto.symbol}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.crypto-list--item {
  padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-bottom: 1px solid #48474729;
    position: relative;
        &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      transition: transform 500ms, box-shadow 300ms;
      transform: scaleX(0);
      background-color: #3838388f;
      transform-origin: right;
      box-shadow: inset 0 0 0 0px black;
    }
    &:hover{
      box-shadow: inset 0 0 9px -5px black;
      &:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
}
</style>
