<template>
  <div @click="cryptoClick" class="crypto-list--item">
    <ItemAttribute v-if="crypto.crypto" label="Name">
      {{ crypto.crypto.nom || '-' }}
    </ItemAttribute>
    <ItemAttribute label="Symbol">
      {{ crypto.cryptoSymbol || '-' }}
    </ItemAttribute>
    <slot />
  </div>
</template>

<script>
import ItemAttribute from '@/components/ItemAttribute.vue'

export default {
  components: {
    ItemAttribute
  },
  props: {
    crypto: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    dailyChange() {
      return ((this.crypto.high - this.crypto.low) * this.crypto.low / 100).toFixed(2)
    }
  },
  methods: {
    cryptoClick() {
      this.$router.push(`/${this.crypto.cryptoSymbol}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.crypto-list--item {
  padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-content: center;
    margin-bottom: 0.2em;
    border-bottom: 1px solid #48474729;
    position: relative;
        &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      transition: transform 500ms;
      transform: scaleX(0);
      background-color: #3838388f;
      transform-origin: right;
    }
    &:hover:before {
      transform: scaleX(1);
      transform-origin: left;
    }
}
</style>
