<template>
  <div class="crypto-list">
    <div v-if="!info">
      <CryptoListItem v-for="crypto in cryptos" :key="crypto.id" :crypto="crypto" />
    </div>
    <div v-else>
      <CryptoListItemInfo v-for="crypto in cryptos" :key="crypto.id" :crypto="crypto" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import CryptoListItem from '@/components/Crypto/ListItem.vue'
import CryptoListItemInfo from '@/components/Crypto/ListItemInfo.vue'

export default {
  components: {
    CryptoListItem,
    CryptoListItemInfo
  },
  props: {
    info: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      cryptos: 'cryptos/cryptos'
    })
  },
  mounted() {
    if (this.info) {
      this.fetchCryptosInfos()
    } else {
      this.fetchCryptos()
    }
  },
  methods: {
    ...mapActions({
      fetchCryptos: 'cryptos/fetchCryptos'
    }),
    ...mapActions({
      fetchCryptosInfos: 'cryptos/fetchCryptosInfos'
    })
  }
}
</script>

<style lang="scss" scoped>
.crypto-list {
  width: 100%;
  &__header {
    grid-template-columns: repeat(6, 1fr);
  }
}
</style>
