<template>
  <div class="crypto-list">
    <CryptoListItem v-for="crypto in missingCryptos" :key="crypto.id" :crypto="crypto">
      <div v-on:click.stop="addUserCryptos(crypto.symbol)" class="button">
        Add to List +
      </div>
    </CryptoListItem>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import CryptoListItem from '@/components/Crypto/ListMissingItem.vue'

export default {
  components: {
    CryptoListItem
  },
  computed: {
    ...mapGetters({
      missingCryptos: 'cryptos/missingCryptos'
    })
  },
  mounted() {
    this.fetchMissingCryptos()
  },
  methods: {
    ...mapActions({
      fetchMissingCryptos: 'cryptos/fetchMissingCryptos'
    }),
    ...mapActions({
      addUserCryptos: 'cryptos/addUserCryptos'
    })
  }
}
</script>

<style lang="scss" scoped>
.crypto-list {
  width: 100%;
  &__header {
    grid-template-columns: repeat(6, 1fr);
  }
}
.button {
  background-color: #00C853;
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
  cursor: pointer;
  &:hover {
    opacity:0.7;
  }
}
</style>
