<template>
  <article class="article">
    <span class="article__title">{{ article.title.substring(0,30) }}</span>
    <img :src="article.urlToImage" class="img" alt>
    <div class="article__content">
      <span class="article__description">{{ article.description.substr(0, 100) }}</span>
      <a :href="article.url">Voir l'article</a>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    article: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    shortenedTitle() {
      const maxLength = 30
      let trimmedString = this.article.title.substr(0, maxLength)
      if (this.article.title.length > trimmedString.length) {
        trimmedString = trimmedString.substr(
          0,
          Math.min(trimmedString.length, trimmedString.lastIndexOf(' '))
        )
        trimmedString += '...'
      }
      return trimmedString
    }
  }
}
</script>

<style lang="scss" scoped>
.article {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 3px 3px #00000070;
  position: relative;
  padding: 1rem;
  img {
    max-width: 100%;
    max-height: 100px;
  }
  &__title {
    padding: 0.5em;
    position: absolute;
    top: -1rem;
    background-color: tomato;
    color:white;
    border-radius: .5em;
    box-shadow: 1px 2px 2px #00000040;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
</style>
