<template>
  <div class="articles-list">
    <ArticleItem v-for="article in articles" :key="article.id" :article="article" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ArticleItem from '@/components/Articles/ArticleItem.vue'

export default {
  components: {
    ArticleItem
  },
  computed: {
    ...mapGetters({
      articles: 'articles/articles'
    })
  },
  mounted() {
    this.fetchArticles()
  },
  methods: {
    ...mapActions({ fetchArticles: 'articles/fetchArticles' })
  }
}
</script>

<style lang="scss" scoped>
.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 1rem;
  grid-gap: 1.5rem;
}
</style>
