<template>
  <div class="crypto">
    <h1>{{ this.$route.params.id }}</h1>
    <v-combobox
      v-model="select"
      :items="items"
      item-text="name"
      item-value="params"
      label="Format"
    />
    <div v-if="datacollection" class="chart-container">
      <line-chart :chart-data="datacollection" :options="chartOption" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import LineChart from '@/components/LineChart'

export default {
  components: {
    LineChart
  },
  data() {
    return {
      select: {
        name: 'Daily',
        params: {
          limit: 24,
          times: 'hour'
        },
        format: 'HH:mm'
      },
      items: [
        {
          name: 'Daily',
          params: {
            limit: 24,
            times: 'hour'
          },
          format: 'HH:mm'
        },
        {
          name: 'Weekly',
          params: {
            limit: 7,
            times: 'day'
          },
          format: 'DD/MM'
        },
        {
          name: 'Monthly',
          params: {
            limit: 31,
            times: 'day'
          },
          format: 'DD/MM'
        }
      ],
      fetchParams: {
        symbol: this.$route.params.id,
        limit: 24,
        times: 'hour'
      },
      datacollection: null,
      chartOption: {
        maintainAspectRatio: false,
        elements: {
          line: {
            tension: 0.2
          }
        },
        legend: {
          display: false
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      crypto: 'cryptos/crypto'
    })
  },
  watch: {
    crypto(newValue, oldValue) {
      this.fillData()
    },
    select(newValue, oldValue) {
      this.fetchCrypto({
        ...newValue.params,
        symbol: this.$route.params.id
      })
    }
  },
  mounted() {
    this.fetchCrypto({
      ...this.select.params,
      symbol: this.$route.params.id
    })
    if (this.cryptos) {
      this.fillData()
    }
  },
  methods: {
    ...mapActions({
      fetchCrypto: 'cryptos/fetchCrypto'
    }),
    fillData() {
      const opens = this.crypto.map((data) => { return data.open })
      const labels = this.crypto.map((data) => { return this.$moment.unix(data.time).format(this.select.format) })
      this.datacollection = {
        labels,
        datasets: [
          {
            label: this.$route.params.id,
            backgroundColor: 'rgba(255,99,132,0.2)',
            borderColor: 'rgba(255,99,132,1)',
            data: opens
          }
        ]
      }
    }
  }
}
</script>

<style>
.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
</style>
