<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <CryptoList />
    <CryptoMissingList />
  </v-layout>
</template>

<script>
import CryptoList from '@/components/Crypto/List.vue'
import CryptoMissingList from '@/components/Crypto/MissingList.vue'

export default {
  components: {
    CryptoList,
    CryptoMissingList
  },
  middleware: 'auth'
}
</script>
